<div class="container">
  <div class="row mb-4">
    <div class="header col-sm-12 col-md-12 mt-2 mb-3">News</div>
    <div class="col-md-4 col-sm-12 col-lg-4">
      <div class="bg-img"></div>
    </div>
    <div class="col-md-8 col-sm-12 col-lg-8">
      <p class="mb-3">Dec 20 2020 9:20:23 pm | FinTech Zoom</p>
      <h5 class="mb-3">
        BIONANO GEONOMICS'(NASDAQ:BNGO) Share price is Down 55% Over The
        Previous Yr.
      </h5>
      <p class="mb-4">
        BIONANO GEONOMICS'(NASDAQ:BNGO) Share price is Down 55% Over The
        Previous Yr.
      </p>

      <p>Related: <span style="color: blue; background: #e5e5e5">BNGO</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-lg-4">
      <div class="bg-img"></div>
    </div>
    <div class="col-md-8 col-sm-12 col-lg-8">
      <p class="mb-3">Dec 20 2020 9:20:23 pm | Yahoo Finance</p>
      <h5 class="mb-3">
        BIONANO GEONOMICS, inc.(BNGO) Upgraded to Buy: What Does it Mean for
        Stock ?
      </h5>
      <p class="mb-3">
        BIONANO GEONOMICS, inc.(BNGO) has been Upgraded to a Zacks Rank 2 (Buy),
        reflecting growing optimism about the counytry's earning prospect. This
        might drive to the sto..
      </p>

      <p>
        Related:
        <span style="color: blue; background: #e5e5e5">BNG0W BNGO</span>
      </p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4 col-sm-12 col-lg-4">
      <div class="bg-img"></div>
    </div>
    <div class="col-md-8 col-sm-12 col-lg-8">
      <p class="mb-3">Dec 20 2020 9:20:23 pm | FinTech Zoom</p>
      <h5 class="mb-3">
        BIONANO GEONOMICS, inc.(BNGO) Upgraded to Buy: Here is Why
      </h5>
      <p class="mb-4">
        BIONANO GEONOMICS, inc.(BNGO) might move higher on growing optimism
        about it's earning perspective, which is reflected by it's upgrade to a
        Zacks Rank 2 (Buy)
      </p>

      <p>
        Related:
        <span style="color: blue; background: #e5e5e5">BNG0W BNGO</span>
      </p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4 col-sm-12 col-lg-4">
      <div class="bg-img"></div>
    </div>
    <div class="col-md-8 col-sm-12 col-lg-8">
      <p class="mb-3">13|08|2020 18:08:00 |MarketScreener</p>
      <h5 class="mb-3">
        BIONANO GEONOMICS Reports Second Quater 2020 Financial Results and
        Provise Business Update | MarketScreener
      </h5>
      <p class="mb-4">
        SAN DIEGO,Aug 13,2020 (GLOBAL NEWSWIRE) -- Bionanic Geonomics
        inc.(NASDAQ:BNGO), a life sciences instrumentation that develops and
        market Saphyr, a platform for ultra-sensitive and ul..
      </p>

      <p>
        Related:
        <span style="color: blue; background: #e5e5e5">BNG0W BNGO</span>
      </p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4 col-sm-12 col-lg-4">
      <div class="bg-img"></div>
    </div>
    <div class="col-md-8 col-sm-12 col-lg-8">
      <p class="mb-3">13|08|2020 18:08:00 | Benzing</p>
      <h5 class="mb-3">
        BIONANO GEONOMICS Reports Second Quater 2020 Financial Results and
        Provise Business Update
      </h5>
      <p class="mb-4">
        SAN DIEGO,Aug 13,2020 (GLOBAL NEWSWIRE) -- Bionanic Geonomics
        inc.(NASDAQ:BNGO), a life sciences instrumentation that develops and
        market
      </p>

      <p>
        Related:
        <span style="color: blue; background: #e5e5e5">BNG0W BNGO</span>
      </p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4 col-sm-12 col-lg-4">
      <div class="bg-img"></div>
    </div>
    <div class="col-md-8 col-sm-12 col-lg-8">
      <p class="mb-3">07|08|2020, 16:26:00 |PR Newswire</p>
      <h5 class="mb-3">
        Thinking about Buying Stock in BioNano Geonomics, Conduent Inc, OpGen
        Inc, Uber Technologies, or MGM Resorts.
      </h5>
      <p class="mb-4">
        NEW YORK,Aug 7,2020 /PRNewswire/ -- InvestorsObserver issues critical
        PriceWatch Alerts for BNGO, CNDT,OPGN,UBER and MGM. To see how
        InvestorsObserver propri...
      </p>

      <p>
        Related:
        <span style="color: blue; background: #e5e5e5">BNG0W BNGO</span>
      </p>
    </div>
  </div>
</div>
