<!-- <div class="container"> -->
<div class="row">
  <div class="mb-5 ml-3 pt-4 col-sm-12 col-md-12 col-lg-12">
    <h5 class="market-view">MARKET VIEW</h5>
    <h5 class="brief">Today's Market briefing.</h5>
  </div>
  <div class="d-flex mb-2 col-bg col">
    <div class="pb-4 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg col">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">AAPL</h6>
      <p class="para">Apple inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg col">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg col">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg col">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg col">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg col">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>

  <div class="d-flex mb-2 col-bg col">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg col">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg col">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-3 col-sm-12 col-md-12 col-lg-12">
    <p>Active stock lasted updated Dec 29 2020</p>
    <hr />
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-8 mb-5">
    <div class="">
      <h5 class="sector mb-0">Sector Highlights</h5>
      <p>Dec 29 2020, 9:10:28 pm</p>
    </div>
    <div class="row">
      <div class="bg-img d-flex col-md-6 col-sm-12 col-lg-6">
        <div class="col pt-2 align-self-start">
          <p style="color: white">Health Care</p>
        </div>
        <div class="col align-self-end">
          <p class="green-bg">+0.46%</p>
        </div>
      </div>
      <div class="bg-img d-flex col-md-6 col-sm-12 col-lg-6">
        <div class="col pt-2 align-self-start">
          <p style="color: white">Industrial</p>
        </div>
        <div class="col align-self-end">
          <p class="red-bg">-0.87%</p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="last-col-bg d-flex flex-column px-4 py-4 col-md-4 col-lg-4 col-sm-6"
  >
    <h3 class="pb-3" style="color: black">My watchlist <span>star</span></h3>
    <p style="color: black">
      Your watchlist is empty. Build your watchlist by starring () the stock you
      want to follow.
    </p>
  </div>

  <hr />
</div>
<div class="row mt-4 ml-3">
  <h3>Ex-Dividends</h3>
  <div class="col-md-8 col-lg-10 d-flex justify-content-between">
    <div>
      <p>Symbol</p>
    </div>
    <div>
      <p>Amount</p>
    </div>
  </div>
</div>
