.col-bg {
  background: #e5e5e5;
  padding: 1rem;
  line-height: 1.5;
  margin-right: 0.5rem;
  min-height: 200px;
  width: 9.4%;

  padding-right: 0.7rem;
}

.header {
  font-size: 18px;
  font-weight: 500px;
}

.para {
  font-size: 10px;
  font-weight: 300px;
}

.market-view {
  font-weight: normal;
  /* color: #e5e5e5; */
  font-size: 20px;
}
.brief {
  font-size: 39px;
  line-height: 64px;
}
.last-col-bg {
  background: white;
  border-radius: 10px;
}

.margin-top {
  margin-top: 4.5rem;
}

.bg-img {
  background: url("../../../assets/img/portfolio/card1.jpg") center center/cover
    no-repeat;
  height: 120px;
}

.bg-energy {
  background: url("../../../assets/img/electricity.jpg") center center/cover
    no-repeat;
  height: 120px;
}

.bg-health {
  background: url("../../../assets/img/health.jpg") center center/cover
    no-repeat;
  height: 120px;
}

.bg-arc {
  background: url("../../../assets/img/arc.jpg") center center/cover no-repeat;
  height: 120px;
}
.bg-industrial {
  background: url("../../../assets/img/build.jpg") center center/cover no-repeat;
  height: 120px;
}

.bg-tech {
  background: url("../../../assets/img/technology.jpg") center center/cover
    no-repeat;
  height: 120px;
}
.bg-technology {
  background: url("../../../assets/img/tech.jpg") center center/cover no-repeat;
  height: 120px;
}

.bg-utilities {
  background: url("../../../assets/img/utilites.jpg") center center/cover
    no-repeat;
  height: 120px;
}
.bg-food {
  background: url("../../../assets/img/food.jpg") center center/cover no-repeat;
  height: 120px;
}
.bg-consumer {
  background: url("../../../assets/img/consumer.jpg") center center/cover
    no-repeat;
  height: 120px;
}

.bg-material {
  background: url("../../../assets/img/material.jpg") center center/cover
    no-repeat;
  height: 120px;
}

.green-bg {
  background: green;
  color: white;
}

.grey-bg {
  background: grey;
  color: white;
}

.red-bg {
  background: red;
  color: white;
}

.sector {
  font-size: 25px;
  font-weight: bold;
}
