<!-- <div class="container"> -->
<div class="row">
  <div class="mb-3 ml-1 pt-4 col-sm-12 col-md-12 col-lg-12">
    <h5 class="market-view">MARKET VIEW</h5>
    <h5 class="brief">Today's Market briefing.</h5>
  </div>
  <div class="d-flex mb-2 col-bg">
    <div class="pb-4 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">AAPL</h6>
      <p class="para">Apple inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>

  <div class="d-flex mb-2 col-bg">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
  <div class="d-flex mb-2 col-bg">
    <div class="pb-4 mb-0 align-self-start">
      <h6 class="header mb-0">BNGO</h6>
      <p class="para">Bionano Geomonics inc.</p>
    </div>
    <div class="align-self-end">
      <h6 class="pl-4 ml-2">1.39</h6>
      <p>+57.20%</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <p>Active stock lasted updated Dec 29 2020.</p>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-8 mb-3">
    <div class="">
      <h5 class="sector mb-0">Sector Highlights</h5>
      <p>Dec 29 2020, 9:10:28 pm</p>
    </div>
    <div class="row">
      <div class="col-md-6 pr-0 col-sm-12 col-lg-6">
        <div class="bg-health d-flex">
          <div class="col pt-2 align-self-start">
            <p style="color: white">Health Care</p>
          </div>
          <div class="col text-right align-self-end">
            <p style="display: inline" class="green-bg">+0.46%</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 pr-0 col-sm-12 col-lg-6">
        <div class="bg-industrial d-flex">
          <div class="col pt-2 align-self-start">
            <p style="color: white">Industrials</p>
          </div>
          <div class="col text-right align-self-end">
            <p style="display: inline" class="red-bg">-0.87%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 ml-1">
      <h3>Ex-Dividends</h3>
      <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-between">
        <div>
          <p class="ml-0">Symbol</p>
        </div>
        <div>
          <p>Amount</p>
        </div>
      </div>
    </div>
    <hr />

    <p class="ml-2">There are no incoming dividends.</p>
  </div>

  <div class="px-4 col-md-4 col-lg-4 col-sm-6">
    <div class="last-col-bg d-flex flex-column">
      <h3 class="" style="color: black">My watchlist <span>star</span></h3>
      <p style="color: black">
        Your watchlist is empty. Build your watchlist by starring () the stock
        you want to follow.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <h4 class="pb-3">Earnings</h4>
  </div>

  <div class="col-lg-3 col-md-3">
    <div class="d-flex justify-content-between">
      <div class="col">Symbol</div>
      <div class="col">Company</div>
      <div class="col">Fiscal Period</div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="d-flex justify-content-between">
      <div class="col">Consensus Estimated EPS</div>
      <div class="col">Actual EPS</div>
      <div class="col">Suprise</div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 d-flex justify-content-between">
    <div class="d-flex justify-content-between">
      <div class="col">EPS, Years Ago</div>
      <div class="col">% EPS Change From Last Year</div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-sm-12 col-md-12">
    <h3 class="mb-0">Sector Performance</h3>
    <p>Dec 29 2020, 9:10:28 pm</p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 pr-0 col-sm-6 col-lg-3">
    <div class="bg-health d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Health Care</p>
      </div>
      <div class="col text-right align-self-end">
        <p style="display: inline" class="green-bg">+0.46%</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 pr-0 col-sm-6 col-lg-3">
    <div class="bg-tech d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Communication Services</p>
      </div>
      <div class="col text-right align-self-end">
        <p style="display: inline" class="grey-bg">+0.00%</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 pr-0 col-sm-6 col-lg-3">
    <div class="bg-utilities d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Utilities</p>
      </div>
      <div class="col text-right align-self-end">
        <p style="display: inline" class="red-bg">+0.07%</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 pr-0 col-sm-6 col-lg-3">
    <div class="bg-consumer d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Consumer Dicretionary</p>
      </div>
      <div class="text-right col align-self-end">
        <p style="display: inline" class="red-bg">-0.07%</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 mb-3">
  <div class="col-md-3 pr-0 col-sm-6 col-lg-3">
    <div class="bg-industrial d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Financials</p>
      </div>
      <div class="text-right col align-self-end">
        <p style="display: inline" class="red-bg">-0.33%</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 pr-0 col-lg-3">
    <div class="bg-food d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Consumer Staples</p>
      </div>
      <div class="text-right col align-self-end">
        <p style="display: inline" class="red-bg">-0.38%</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 pr-0 col-sm-6 col-lg-3">
    <div class="bg-material d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Materials</p>
      </div>
      <div class="text-right col align-self-end">
        <p style="display: inline" class="red-bg">-0.42%</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 pr-0 col-sm-6 col-lg-3">
    <div class="bg-technology d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Technology</p>
      </div>
      <div class="text-right col align-self-end">
        <p style="display: inline" class="red-bg">-0.51%</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 pr-0 col-sm-6 col-lg-4">
    <div class="bg-arc d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Real Estate</p>
      </div>
      <div class="text-right col align-self-end">
        <p style="display: inline" class="red-bg">-0.55%</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 pr-0 col-sm-6 col-lg-4">
    <div class="bg-energy d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Energy</p>
      </div>
      <div class="text-right col align-self-end">
        <p style="display: inline" class="red-bg">-0.55%</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 pr-0 col-sm-6 col-lg-4">
    <div class="bg-industrial d-flex">
      <div class="col pt-2 align-self-start">
        <p style="color: white">Industrials</p>
      </div>
      <div class="text-right col align-self-end">
        <p style="display: inline" class="red-bg">-0.78%</p>
      </div>
    </div>
  </div>
</div>
